*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lumanosimo', cursive;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #393646;
}
.main-box input{
    text-align: right;
    padding-right: 1rem;
    background: transparent;
    border: none;
    font-size: 2.5rem;
}
.main-box{
    height: 550px;
    width: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    border-radius: 15%;
}
button{
    width: 3rem;
    height: 3rem;
    border: 0.75px solid black;
    border-radius: 1rem;
    margin-right: 2rem;
    margin-bottom: 1rem;
    background: transparent;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.26) 0px 3px 6px;

}
.text-box{
    min-height: 3rem;
    width: 20rem;
    margin-bottom: 4rem;
    border-radius: 2rem;
}
.all-buttons{
    width: 25rem;
    height: 20rem;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.btn{
    margin-left: 2rem;
    /* margin-right: 2rem; */
}
/* .AC{
    background-color: red;
} */